<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/circlelogo"
        android:label="@string/PawSalon"
        android:roundIcon="@drawable/circlelogo"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.PawSalon"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.example.PawSalon.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.PawSalon.view.WelcomeActivity"
            android:exported="true" />

        <activity
            android:name="com.example.PawSalon.view.GroomingActivity"
            android:exported="true" />

        <activity
            android:name="com.example.PawSalon.view.PetBoardingActivity"
            android:exported="true" />

        <activity
            android:name="com.example.PawSalon.view.PetSuppliesActivity"
            android:exported="true" />

        <activity android:name="com.example.PawSalon.view.PetSuppliesCatergorizedActivity"
            android:exported="true"/>

        <activity
            android:name="com.example.PawSalon.view.BasicVetServicesActivity"
            android:exported="true" />

        <activity
            android:name="com.example.PawSalon.view.AppointmentActivity"
            android:exported="true"/>
        <activity
            android:name="com.example.PawSalon.view.NotificationsActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.ProfileActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.SettingsActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.Feedback_Activity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.CatFoodActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.DogFoodActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.DogLeashActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.PetBowlActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.PetCareProductActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.PetCologneActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.PetLitterActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.PetPadsActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.PetShampooActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.PetToysActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.CutStylesActivity"
            android:exported="true"/>
        <activity android:name="com.example.PawSalon.view.PasswordSecActivity"
            android:exported="true"/>

        <activity
            android:name="com.example.PawSalon.view.EditPetProfile"
            android:exported="false" />
        <activity
            android:name="com.example.PawSalon.view.LoginSignupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.PawSalon.view.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PawSalon.view.SignUpActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PawSalon.view.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PawSalon.view.NewPasswordActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PawSalon.view.EditUserProfileActivity"
            android:exported="false" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
